<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd   
   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   
   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
	default-autowire="byType">
	
	<context:annotation-config/>
	<context:component-scan base-package="com.wxj.service.serviceImpl"/>
	
	<!-- 启动spring注解功能 -->
	<tx:annotation-driven transaction-manager="txManager"/>
	<!-- 数据源及事务配置开始 -->
	
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	  <property name="dataSource" ref="dataSource"/>
	</bean>
	
	<tx:advice id="Advice" transaction-manager="txManager">
	    <tx:attributes>
	       <tx:method name="save*" propagation="REQUIRED"/>
	       <tx:method name="update*" propagation="REQUIRED"/>
	       <tx:method name="add*" propagation="REQUIRED"/>
	       <tx:method name="insert*" propagation="REQUIRED"/>
	       <tx:method name="remove*" propagation="REQUIRED"/>
	       <tx:method name="select*" read-only="true"/>
	       <tx:method name="find*" read-only="true"/>
	       <tx:method name="*" read-only="true"/>
	    
	    
	    </tx:attributes>
	</tx:advice>
	
	<aop:config>
	     <aop:pointcut id="serviceMethod" expression="execution(* com.wxj.service.serviceImpl..*.*(..))" />
	     <aop:advisor advice-ref="Advice" pointcut-ref="serviceMethod"/>
	</aop:config>
	
	</beans>
	